* {
    margin: 0;
    padding: 0;
    line-height: normal;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

body {
    font-family: arial, sans-serif;
}

/* header */

#header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
    background: #181818;
    color: #FFF;
}

#header h1 {
    margin: 0 0 0 20px;
    font-size: 14px;
    line-height: 40px;
    background: url(../img/mark.png) no-repeat left center;    
}

#header h1 a {
  padding-left: 26px;
  color: white;
  text-decoration: none;
}

#header h1 .sub {
  margin-left: 6px;
  color: #666;
  font-size: 12px;
  font-weight: normal;
}

/* chat */

#chat {
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 0;
    right: 0;
    padding: 10px;
    overflow: auto;
}

#chat p {
    line-height: 150%;
}

#chat p span.nick {
    font-weight: bold;
    display: inline-block;
    margin: 0 5px;
}

#chat p span.time {
    font-weight: bold;
    display: inline-block;
    color: #999;
    font-size: 14px;
    font-family: monospace;
}

#chat p span.prefix {
    font-weight: bold;
    display: inline-block;
    margin-right: 5px;
    font-size: 14px;
    color: #FF5033;
    font-weight: monaco, monospace;
}

#chat p.error {
    color: red;
}

/* input */

#input {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    border-top: 1px solid #999;
    padding: 0 10px;
    background: #FFF;
    box-shadow: inset 0 3px 0 #EEE;
}

#input input {
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    border: none;
    padding: 10px 0;
    background: transparent;
    font-size: 16px;
    margin: 0;
}

#input input:focus {
    outline: 0;
}
